<ul class="nav nav-pills" role="tablist">
  <li><%= link_to "All", destinations_path %></li>
  <li><%= link_to "New Zealand", destinations_path(country: "new_zealand") %></li>
  <li><%= link_to "France", destinations_path(country: "france") %></li>
</ul>


<div class="container">
    <% @liberia_tourism.each do |tourist_attraction| %>
    <div class="row">
        <div class="col-md-3">
            <div class="well well-lg">
                <%= image_tag tourist_attraction, alt: "tourist_attraction", id: "liberia", class: "country" %>
            </div>
        </div>
    </div>
    <% end %>
</div>



