<div>
    <ul>
    <% @countries.each do |country| %>
        <li><%= country %></li>
    <% end %>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <% @liberia.each do |tourist_attraction| %>
                    <%= image_tag tourist_attraction, alt: "tourist_attraction", id: "liberia", class: "country" %>
                <% end %>
            </div>
        </div>
    </div>
</div>